button {
    background-color: #84c225;
    color: white;
    border-radius: 0px;
}

.title {
    text-align: center;
}

.callForContent {
    img {
        width: 800px;
        height: 400px;
    }
}