<img src="../../../assets/mfw about main.png" style="width: 100%;" />
<div id="item1">
    <h4 id="text1">{{heading1}}</h4>
    <p id="text1">{{content1}}</p>
    <p id="text1">{{content1_2}}</p>
</div>

<div class="flexbox" style="background-color: #84C225;">
    <div>
        <h4 id="text2">{{heading2}}</h4>
        <p id="text2">{{content2}}</p>
        <p id="text2"> {{content2_2}}</p>

    </div>
    <div class="box1">
        <div class="rectangle1"></div>
        <img src="../../../assets/whatwedo about small 01.png" class="img1" />
    </div>
</div>

<div class="flexbox" style="background-color: #94506E;">
    <div class="box2">
        <div class="rectangle2"></div>
        <img src="../../../assets/mfwgirls about small 02.png" class="img2" />
    </div>
    <div>
        <p id="text3">{{content3}}</p>
        <p id="text3">{{content3_2}}</p>
        <p id="text3">{{content3_3}}</p>
    </div>
</div>