<div class="footer">
    <div id="footer-item">
        <p id="heading">CONTACT</p>
        <mat-list>
            <mat-list-item>
                <mat-icon class="white-icon" mat-list-icon>room</mat-icon>
                <div mat-line id="contact-info">
                    44 Idiroko Road, Sango Ota Ogun State, Nigeria
                </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="white-icon" mat-list-icon>email</mat-icon>
                <div mat-line id="contact-info">
                    momentforwomen@gmail.com
                </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="white-icon" mat-list-icon>call</mat-icon>
                <div mat-line id="contact-info">
                    +2108071207385
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div id="footer-item">
        <p id="heading">
            ABOUT
        </p>
        <p id="text">Moment For Women is movement for gender equality in Africa</p>
    </div>
    <div id="footer-item">
        <p id="heading">Subscribe to Our Newsletter</p>
        <div id="subscription">
            <input matInput placeholder="pat@example.com" type="email">
            <button mat-button id="SubscribeButton">Subscribe</button>

        </div>

    </div>

    <div id="footer-item">
        <p id="heading">
            SPONSORS
        </p>

        <mat-list>
            <a href="https://agenetwork.org/" target="blank" style="color: white;">AGE NETWORK</a>
        </mat-list>
    </div>
    <div id="footer-item">
        <p id="heading">
            Follow Us On
        </p>
        <div id="logoBlock">
            <a href="https://twitter.com/moment4women" target="blank">
                <img id="logo" src="../assets/twitter_circle.png" title="https://twitter.com/moment4women">
            </a>
            <a target="blank" href="https://www.facebook.com/moment4women">
                <img id="logo" src="../assets/facebook_circle.png" title="https://www.facebook.com/moment4women">
            </a>
        </div>
    </div>
    <div id="footer-item">
        <p id="copyright-text">
            <mat-icon id="copyright" inline="true">copyright</mat-icon>2020 Moment For Women</p>
    </div>
</div>